@media only screen and (max-width: 400px) {
    body{
        background-color: #3B1D60 ;
    }
    .container {
        margin-left:20px;
    }
    .nav{
        display: none;
    }
    .kheader-baby-2{
        margin-left: 30px;
    }
    .kbutton-one{
        display: none;
        
    }
    .kbutton-two{
        margin-right: 10px;
    }
   .div-k-p{
    width: 371px;
   }
   .div-k-p-two{
       margin-top: 60px;
       width: 350px;
   }
   .k-p-catarestic-two{
    font-size:15px;
    font-weight: 500;
   }
   .photovideo-text-k-one{
       display: none;
   }
   .baby-photovideo-k-one{
       width: 350px;
   }
   .kmain-baby-two{
       display: none;
   }
   .dernier{
       display: none;
   }
}