* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Gilroy";
}

body {
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    height: 100vh;
}

.container {
    padding: 0 170px;
    margin: 78px auto;
}

header {
    height: 140px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.kheader-baby-1 {
    height: 36px;
    width: 550px;
    display: flex;
}

ul {
    width: 347px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b5b5b5;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 44px;
}

.kheader-baby-2 {
    height: 36px;
    width: 244px;
    display: flex;
    margin-left: 429px;
    gap: 20px;
}

* a {
    color: #b5b5b5;
}

.kheader-baby-2 button {
    width: 112px;
    border-radius: 4px;
    border: 1px solid #f2994a;
}

.kbutton-one {
    background: none;
    color: #f2994a;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.kbutton-two {
    background: #f2994a;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.kmain-dady-one {
    display: flex;
    justify-content: space-between;
}

.k-p-catarestic-one {
    margin-top: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    color: #99efd0;
}

.div-k-p {
    width: 531px;
    height: 150px;
}

.k-p-catarestic-two {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #8476aa;
}

.div-k-p-two {
    width: 468px;
    height: 44px;
    margin-top: 19px;
}

.div-button-k {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.kbutton-three {
    width: 157px;
    height: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #f2994a;
    border: 1px solid #f2994a;
    border-radius: 4px;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.kbutton-four {
    width: 157px;
    height: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f2994a;
    background: none;
    border: 1px solid #f2994a;
    border-radius: 4px;
}

.div-photovideo-k {
    display: flex;
    margin-top: 60px;
}

.baby-photovideo-k-one {
    width: 140px;
    height: 80px;
    background-color: #361c5d;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baby-photovideo-k-one div {
    display: flex;
    height: 48px;
    margin-top: 15px;
    justify-content: center;
}

.photovideo-text-k-one {
    width: 380px;
    margin-left: 20px;
}

.photovideo-text-k-one p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #8476aa;
}

.k-p-catarestic-three {
    margin-top: 6px;
    color: #6d6d78;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.dernier {
    height: 30px;
    display: flex;
    margin-top: 105px;
}

.kmain-baby-two img {
    width: 900px;
    margin-left: 10px;
    height: 580px;
}

.dernier {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 100px;
    opacity: 0.3;
}

.dernier li :hover {
    opacity: 0.5;
    transition: 350ms;
}

.nav li :hover {
    opacity: 0.5;
    transition: 345ms;
}
.kmain-baby-two:hover {
    opacity: 0.9;
    transition: 110ms;
}
.kheader-baby-2 button:active {
    opacity: 0.8;
}
.div-button-k button:active {
    opacity: 0.8;
}
